// colors
$clr-red: #D24545;
$clr-dark-red: #B53838;
$clr-light-gray: #FAFAFA;
$clr-medium-gray: #EBEBEB;
$clr-line-gray: #D9D9D9;
$clr-gray: #2F2F2F;
$clr-black: #000000;
$clr-white: #FFFFFF;

// typography
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;500;700&display=swap');

$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;