.breaking-section{
    padding: 0 0 0 15%;

    &__card-container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 200px); 
        column-gap: 2.5em;
        row-gap: 2.5em;

        &__card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            border: 1px solid $clr-line-gray;
            border-radius: 5px;
            padding: 2em 4em;
            width: 100%;
            
            &__heading{
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 1em;
            }
            &__description{
                font-family: $open-sans;
                font-size: 14px;
                color: $clr-gray;
            }
        }

        &__card:last-child{
            border: none;
            padding: 0;
        }

        &__card:hover{
            background-color: $clr-red;
            outline: 1px solid $clr-white;
            outline-offset: -25px; 
        }

        &__picture-container{
            position: relative;
            overflow: hidden;
            width:100%;
            height: 100%;
            
            .image{
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }

            .featured{
                position: absolute;
                top: 0;
                left: 0;
                width: 8em;
                height: 2.5em;
                transform: translate(0, -10%);
                border-radius: 5px 0 5px 0;
                background-color: $clr-light-gray;
                
                display: flex;
                justify-content: center;
                align-items: center;

                i{
                    color: $clr-red;
                }

                &__title{
                    margin-left: .5em;
                }
            }
        }

        &__card-1{
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        &__card-2{
            grid-column-start: 5;
            grid-column-end: 9;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        &__card-3{
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        &__card-4{
            grid-column-start: 5;
            grid-column-end: 9;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        &__card-5{
            grid-column-start: 9;
            grid-column-end: 13;
            grid-row-start: 1;
            grid-row-end: 3;
        }
    }
}

@media screen and (max-width: $lg-screen) {
    .breaking-section{
        padding: 0 0 0 12%;
    }
}

@media screen and (max-width: $mid-screen) {
    .breaking-section{
        padding: 0 0 0 9%;
        &__card-container{
            &__card{
                padding: 4em 2em;
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .breaking-section{
        // margin: 2.5em 1em;
        padding: 0 1em 0 1em;
        
        &__card-container{
            display: flex;
            flex-direction: column;

            &__card-5{
                order: -1;
            }
        }

    }
}