.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: .5em 15%;

    &__logo{
        font-size: 32px;
        color: $clr-dark-red;
    }

    &__hamburger-menu, &__mobile-container{
        display: none;
    }
}

.header:after{
    content: '';
    width: 300%;
    border-bottom: solid 1px $clr-line-gray;
    position: absolute;
    left: -100%;
    top: 100%;
    z-index: 1;
}

@media screen and (max-width: $lg-screen) {
    .header{
        padding: .5em 12%;
    }
}

@media screen and (max-width: $mid-screen) {
    .header{
        padding: .5em 9%;
    }
}

@media screen and (max-width: $tablet) {
    .header{
        position:sticky;
        padding: .5em 1em;
        &__btn-container{
            display: none;
        }

        &__mobile-container{
            display: flex;
            justify-content: center;
            align-items: center;

            .btn{
                margin-right: 1em;
            }
        }

        &__hamburger-menu{
            display: block;
            background-color: transparent;
            border: none;
            font-size: 16px;
            margin-left: 1em;
        }
    }
}

@media screen and (max-width: $phone) {
    .header{
        &__mobile-container{
            .btn{
                display: none;
            }
        }
    }
}