.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 15%;
    position: relative;

    &__link-container{
        .nav-links{
            font-size: 16px;
            color: $clr-black;
            text-decoration: none;
        }

        .nav-links:active{
            font-weight: 700;
        }

        .nav-links--white{
            color: $clr-white;
            text-decoration: none;
        }

        .nav-links:not(:last-child)::after{
            content: "";
            padding-right: 1em;
            border-right: 1px solid $clr-line-gray;
        }

        .nav-links--white:not(:last-child)::after{
            content: "";
            padding-right: 1em;
            border-right: 1px solid $clr-line-gray;
        }
    }

    &__link-container a:not(:first-child){
        padding-left: 1em;
    }

    &__weather-search-container{
        display: flex;
        align-items: center;
        justify-content: center;
        
        &__weather{
            display: flex;
            .weather-icon{
                color: $clr-red;
                padding-right: .5em;
            }
        }
        
        &__weather::after{
            content: "";
            padding-right: 1em;
            border-right: 1px solid $clr-line-gray;
        }
        .search{
            padding-left: 1em;
            cursor: pointer;
        }
    }
}

.nav:after{
    content: '';
    width: 300%;
    border-bottom: solid 1px $clr-line-gray;
    position: absolute;
    left: -100%;
    top: 100%;
    z-index: 1;
}

@media screen and (max-width: $lg-screen) {
    .nav{
        padding: 1em 12%;
    }
}

@media screen and (max-width: $mid-screen) {
    .nav{
        padding: 1em 9%;
    }
}

@media screen and (max-width: $tablet) {
    .nav{
        display: none;
    }
}