.sex-section{
    margin-top: 3em;
    padding: 0 15% 0 15%;

    &__title{
        @include section-heading;
    }

    &__card-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3em;

        &__item1{
            grid-column-start: 1;
            grid-column-end: 2;
        }

        &__item2{
            grid-column-start: 2;
            grid-column-end: 3;
        }

        &__item3{
            grid-column-start: 3;
            grid-column-end: 4;
        }
    }
}

@media screen and (max-width: $lg-screen) {
    .sex-section{
        padding: 0 12% 0 12%;
    }
}

@media screen and (max-width: $mid-screen) {
    .sex-section{
        padding: 0 9% 0 9%;
    }
}

@media screen and (max-width: $tablet) {
    .sex-section{
        padding: 0 1em 0 1em;
        
        &__card-container{
            display: flex;
            flex-direction: column;

            .small-card{
                margin-bottom: 2em;
            }
        }

    }
}