.sport-section{
    margin-top: 3em;
    padding: 2em 15% 3em 15%;
    background-color: $clr-light-gray;

    &__title{
        @include section-heading;
        margin-bottom: 1em;
    }

    &__card-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 3em;

        &__item1{
            grid-column-start: 1;
            grid-column-end: 2;
        }

        &__item2{
            grid-column-start: 2;
            grid-column-end: 3;
        }

        &__item3{
            grid-column-start: 3;
            grid-column-end: 4;
        }

        &__item4{
            grid-column-start: 4;
            grid-column-end: 5;
        }
    }
}

@media screen and (max-width: $lg-screen) {
    .sport-section{
        padding: 2em 12% 3em 12%;
        .section-separator{
            width: 100%;
        }
    }
}

@media screen and (max-width: $mid-screen) {
    .sport-section{
        padding: 2em 9% 3em 9%;
        .section-separator{
            width: 100%;
        }
    }
}

@media screen and (max-width: $tablet){
    .sport-section{
        padding: 2em 1em 3em 1em;
        
        &__card-container{
            display: flex;
            flex-direction: column;

            .small-card{
                margin-bottom: 2em;
            }
        }
    }
}